body {
    font-family: 'Montserrat', sans-serif;
    color: #2e4255;
}

.cabecalho {
    background-color: #2D5377;
    padding: 20px;
}

.logo {
    display: block;
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
}

.menu li {
    margin-bottom: 5px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}
