body {
    font-family: Arial, Helvetica, sans-serif;
    width: 940px;
    margin: 0 auto;
}

header {
    background-color: #2D5377;
    padding: 20px;
}

header img {
    display: block;
}

header a {
    color: #fff;
    text-decoration: none;
}

header ul {
    list-style: none;
    margin-top: 10px;
}

header li {
    margin-bottom: 5px;
}

h1.titulo-principal {
    background-color: #E1EDF2;
    padding: 10px;
    margin: 20px 0;
}

form {
    margin-top: 20px;
}

.campo {
    margin-bottom: 10px;
}

.campo label {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.campo input {
    width: 500px;
    height: 30px;
}

.campo textarea {
    width: 500px;
    height: 300px;
}

button {
    width: 100px;
    height: 50px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
