body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 10px;
}

input,
textarea {
    width: 500px;
    height: 30px;
    box-sizing: border-box;
}

textarea {
    height: 300px;
}

button {
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    font-weight: bold;
}
