body {
    font-family: Arial, Helvetica, sans-serif;
    width: 940px;
    margin: auto;
}

header {
    margin-top: 20px;
}

.conteudo {
    margin-top: 20px;
}

.titulo-principal {
    background-color: #E1EDF2;
    padding: 10px;
    font-size: 26px;
}

form {
    margin-top: 20px;
}

.campo {
    margin-bottom: 10px;
}

input {
    width: 500px;
    height: 30px;
    box-sizing: border-box;
}

textarea {
    width: 500px;
    height: 300px;
    box-sizing: border-box;
}

label {
    margin-left: 10px;
    font-weight: bold;
}

button {
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    font-weight: bold;
}
